body {
	background-color: lightgrey;
}

@media screen and (max-width: 400px){
	body {
		background-color: black;
	}
}
#theFlex {
	display: flex;
	background-color: hotpink;
	justify-content: space-around;
	align-items: center;
	padding: 2vh;
}

.theFlexi {
	background-color: blue;
	color:white;
	padding: 5vw;
	text-decoration: none;
	font-size: 5vw;
}

.theFlexi:hover{
	color: yellow;
}
